<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="/favicon.ico">

    <script type='text/javascript' src="/dingding/static/src/js/weui_iscroll.js"></script>

    <link rel="stylesheet" href="/dingding/static/src/css/icon.css">
    <link rel="stylesheet" href="/dingding/static/src/css/weui.css">
    <link rel="stylesheet" href="/dingding/static/src/css/weui2.css">
        <link rel="stylesheet" href="/dingding/static/src/css/ele_index.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
    <script type='text/javascript' src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.js"></script>
    <script type='text/javascript' src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script type='text/javascript' src="/dingding/static/src/js/vue-scroller.js" charset='utf-8'></script>
     <script type='text/javascript' src="/dingding/static/src/js/ele_index.js"></script>
     <script type='text/javascript' src="/dingding/static/src/js/xml2json.js"></script>
        <script type='text/javascript' src="/dingding/static/src/js/zepto.min.js"></script>
    <title><% block title %><% endblock %></title>
    <% block head %><% endblock %>
</head>
<body>
<% block body %>
<% endblock %>
<% block script %>
<script type="text/javascript">
    corpid = '${corpId}';
    agentId = '${agentId}'; // 必填，微应用ID
    corpId = '${corpId}';//必填，企业ID
    timeStamp = '${timeStamp}'; // 必填，生成签名的时间戳
    nonceStr = '${nonceStr}'; // 必填，生成签名的随机串
    signature = '${signature}'; // 必填，签名
    accesstoken = '${accessToken}'
    define = null;
    require = null;

</script>

<% endblock %>
</body>
<script type="text/javascript" src='http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js'></script>
</html>


