
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf?t=1486948769868') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  color: #0870d9;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before { content: "\e6af"; }

.icon-fanhui:before { content: "\e632"; }

.icon-ruku:before { content: "\e637"; }

.icon-baobiao:before { content: "\e647"; }

.icon-gongdan:before { content: "\e645"; }

.icon-diaobo:before { content: "\e62e"; }

.icon-zaxiang:before { content: "\e7dc"; }

.icon-lingliao:before { content: "\e611"; }

.icon-fahuo:before { content: "\e66f"; }

.icon-jian:before { content: "\e61b"; }

.icon-zhuxiao:before { content: "\e60f"; }

.icon-weixiu:before { content: "\e65c"; }

.icon-invtaking:before { content: "\e644"; }

.icon-tuihuo:before { content: "\e9fc"; }

.icon-change:before { content: "\e601"; }

.icon-shouhuo:before { content: "\e646"; }

